<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Woot: Daily Deals for Electronics</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'home/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'home/css/navbar-fixed-top.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav id="main-nav" class="nav-color navbar navbar-default white-text navbar-fixed-top" role="navigation">
      <div class="container">
        <div id="nav-header" class="navbar-header">
          <button id="collapse-nav" type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#categories" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand lighter-font white-text" href="{% url 'home:index' %}"><span class="white-text h1">fööt!</span> Deals & Shenanigans</a>
        </div>
        <div class="navbar-collapse bottom-border" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="underline lighter-font" href="#">Community</a>
            </li>
            {% if request.session.username %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle lighter-font white-text" data-toggle="dropdown">Hi, <span class="underline light-font">{{ request.session.username }}</span><b class="caret"></b></a>
              <ul class="dropdown-menu nav-color">
                <li><a class="white-text" href="{% url 'login:edit' %}">Edit Your Account</a></li>
                <li class="divider"></li>
                <li><a class="white-text" href="{% url 'home:orders' %}">Stuff You've Bought</a></li>
                <li class="divider"></li>
                {% if request.session.admin_level == 4 %}
                <li><a class="white-text" href="{% url 'login:dashboard' %}">Admin Dashboard</a></li>
                <li class="divider"></li>
                {% endif %}
                <li><a class="white-text" href="{% url 'login:logout' %}">Sign Out</a></li>
              </ul>
            </li>
            {% endif %}
            {% if not request.session.username %}
            <li>
              <a href="{% url 'login:index' %}">Sign In</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div id="categories" class="collapse navbar-collapse collapse-buttons .custom-collapse">
          <ul class="nav navbar-nav">
            {% for category in categories %}
            <li class="dropdown">
              <a href="{% url 'home:category' id=category.id %}" class="dropdown-toggle categories white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ category.category }} <span class="caret"></span></a>
              <ul class="dropdown-menu collapse nav-color">
                <li><a class="white-text" href="{% url 'home:category' id=category.id %}">See all {{ category.category }} deals</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header white-text">Subcategories</li>
                {% for subcat in subcategories %}
                  {% if subcat.category.id == category.id%}
                    <li><a class="white-text" href="{% url 'home:subcategory' id=subcat.id %}"> {{subcat.subcategory}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
            <li class="dropdown">
              <a id="cart" href="#" class="dropdown-toggle categories white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart cart" aria-hidden="true"></span> - Cart: {{request.session.cart}} Items</a>
              <ul class="dropdown-menu collapse nav-color">
                <li><a href="{% url 'checkout:buy' %}"><button class="btn-lg btn-warning">Proceed to Checkout</button></a></li>
                <li><a class="text-center white-text" href="{% url 'checkout:index' %}">View your cart</a></li>
              </ul>
            </li>
        </div>
      </div>
    </nav><!-- End NAVBAR -->
    <div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
    <div class="container">
      <div id="category_list" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <p class="gray_font">{{ this_category.category }} Categories</p>
        <hr>
        <ul class="list-unstyled list-group">
          <li class="list-group-item-heading">All ({{category_total}})</li>
          {% for subcat in this_cat_subcategories %}
          <li class="list-group-item-heading">&nbsp;&nbsp;<a href="{% url 'home:subcategory' id=subcat.id %}">{{ subcat.subcategory }} ({% for id, count in total_products.items %}{% if id == subcat.id %}{{ count }}{% endif %}{% endfor %})</a></li>
          {% endfor %}
        </ul>
      </div>
      {% if main_product %}
      <div id="deal-info" class="img-responsive col-lg-9 col-md-9 col-sm-9 col-xs-12 row">
        <h3 class="name-font">{{ main_product.name }}</h3>
        <p class="name-font h2">${{ main_product.price|floatformat:2 }}  <span class="gray_font h5"><span class="strikethrough">${{ main_product.list_price|floatformat:2  }}</span>  {{ percent_off|floatformat:2 }}% off List Price </span></p>
        <hr>
        <div id="image-description" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          {% load static %}

          <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-responsive" src="{% static main_product.primary_image %}" alt="">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p>Description:</p>
            <p>{{ main_product.description }}</p>
          </div>
        </div>
        <a href="/product/show/{{ main_product.id }}"><img src="{% static 'home/images/wantone.png' %}" alt="I want one"></a>
        <hr>
        {% if comments %}
        {% for comment in comments %}
        <p><strong>{{ comment.author.username}}</strong>   <a href="/discussion/product/{{ main_product.id }}"><button class="pull-right btn-lg btn-success">join the discussion</button></a></p>
        <p>{{ comment.content }} </p>
        {% endfor %}
        {% endif %}
        {% if not comments %}
        <p>No posts yet? WHAT? Somebody help fix that by saying something cool. <a href="/discussion/product/{{ main_product.id }}"><button class="pull-right btn-lg btn-success">join the discussion</button></a></p>
        <p>&nbsp;</p>
        {% endif %}
        <hr>
      </div>
      <div id="all_deals" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      {% else %}
      <div id="all_deals" class="col-lg-9 col-md-9 col-sm-6 col-xs-12 row">
        <div>&nbsp;</div><div>&nbsp;</div>
      {% endif %}
        <h4 class="text-center"> All {{ this_category.category }} Deals</h4>
        {% for product in all_products %}
        <a class="" href="/product/show/{{ product.id }}">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 panel panel-default text-center all_deals no-padding">
              <div class="panel-heading">
                <h4 class="name-font">{{ product.name }}</h4>
                <h5 class="name-font">Ends {{ product.expire_date }}</h5>
              </div>
              <div class="panel-body">
                <img class="img-responsive text-center small_images" src="{% static product.primary_image %}" alt="{{ product.name }}">
              </div>
          </div>
        </a>
        {% endfor %}
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'home/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
