<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% load staticfiles %}
    <link href="{% static 'login/css/styles.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="well nav-color white-text">
      <p class="h2 text-center">Admin Dashboard <p class="pull-right"><a class="light-font white-text" href="{% url 'home:index' %}">Back to woot!</a></p></p>
    </div>
    <h2>Daily Deals</h2>
    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Daily Deal</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for deal_day in deal_days %}
          <tr>
            <td>{{deal_day.day}}</td>
            {% if deal_day.deal %}
              <td><a href="{% url 'home:show_product' id=deal_day.deal.id %}">{{deal_day.deal.name}}</a></td>
              <td>Change Deal Date:
                <form class="" action="{% url 'home:change_deal' id=deal_day.deal.id %}" method="post">
                  {% csrf_token %}
                  <select name="deal_date">
                    {% for deal_day in deal_days %}
                      <option value="{{deal_day.day}}">{{deal_day.day}}</option>
                    {% endfor %}
                    <input class="btn btn-info" type="submit" value="Change">
                  </select>
                </form>
                <form action="{% url 'home:remove_deal' id=deal_day.deal.id %}" method="post">
                  {% csrf_token %}
                  <input type="submit" class="btn btn-danger" value="Remove from Daily Deals">
                </form>
              </td>
            {% else %}
              <td>No Deal Selected</td>
              <td><a href="{% url 'home:new_product' %}">Add a product for this daily deal</a> | <a href="{% url 'home:manage_products' %}">Change a product to this daily deal</a></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
