<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Discussion</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav id="main-nav" class="nav-color navbar navbar-default white-text navbar-fixed-top" role="navigation">
      <div class="container">
        <div id="nav-header" class="navbar-header">
          <button id="collapse-nav" type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#categories" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand lighter-font white-text" href="{% url 'home:index' %}"><span class="white-text h1">fööt!</span> Deals & Shenanigans</a>
        </div>
        <div class="navbar-collapse bottom-border" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="underline lighter-font" href="#">Community</a>
            </li>
            {% if request.session.username %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle lighter-font white-text" data-toggle="dropdown">Hi, <span class="underline light-font">{{ request.session.username }}</span><b class="caret"></b></a>
              <ul class="dropdown-menu nav-color">
                <li><a class="white-text" href="{% url 'login:edit' %}">Edit Your Account</a></li>
                <li class="divider"></li>
                <li><a class="white-text" href="{% url 'home:orders' %}">Stuff You've Bought</a></li>
                <li class="divider"></li>
                {% if request.session.admin_level == 4 %}
                <li><a class="white-text" href="{% url 'login:dashboard' %}">Admin Dashboard</a></li>
                <li class="divider"></li>
                {% endif %}
                <li><a class="white-text" href="{% url 'login:logout' %}">Sign Out</a></li>
              </ul>
            </li>
            {% endif %}
            {% if not request.session.username %}
            <li>
              <a href="{% url 'login:index' %}">Sign In</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div id="categories" class="collapse navbar-collapse collapse-buttons .custom-collapse">
          <ul class="nav navbar-nav">
            {% for category in categories %}
            <li class="dropdown">
              <a href="{% url 'home:category' id=category.id %}" class="dropdown-toggle categories white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ category.category }} <span class="caret"></span></a>
              <ul class="dropdown-menu collapse nav-color">
                <li><a class="white-text" href="{% url 'home:category' id=category.id %}">See all {{ category.category }} deals</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header white-text">Subcategories</li>
                {% for subcat in subcategories %}
                  {% if subcat.category.id == category.id%}
                    <li><a class="white-text" href="{% url 'home:subcategory' id=subcat.id %}"> {{subcat.subcategory}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
            <li class="dropdown">
              <a id="cart" href="#" class="dropdown-toggle categories white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart cart" aria-hidden="true"></span> - Cart: {{request.session.cart}} Items</a>
              <ul class="dropdown-menu collapse nav-color">
                <li><a href="{% url 'checkout:buy' %}"><button class="btn-lg btn-warning">Proceed to Checkout</button></a></li>
                <li><a class="text-center white-text" href="{% url 'checkout:index' %}">View your cart</a></li>
              </ul>
            </li>
        </div>
      </div>
    </nav><!-- End NAVBAR -->
    <div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
    <div class="container">
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class = "active">
        <a href="#product" id = "main_product" aria-controls="product" role="tab" data-toggle="tab">{{product.name}} Discussion</a>
      </li>
      <li role="presentation">
        <a href="#category" id= "other_products" aria-controls="category" role="tab" data-toggle="tab">World of {{main_category.category}}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="product">
        <div class='container-fluid'>
          <div id="all_deals" class='page-header'>
            {% load static %}
            <a class="all_deals" href="{% url 'home:show_product' id=product.id %}"><img class="img-responsive pull-left" src="{% static product.primary_image %}" alt="{{product.primary_image}}"></a>
            <h1>{{product.name}}</h1>
            <h4>{{product.description}}</h4>
          </div>
          <div class="col-lg-12">
          <h2>What do you think of the product?</h2>
          </div>
          <form action={% url 'home:comment' %} method='post'>
            {% csrf_token %}
            <input type='hidden' name="product_id" value="{{product.id}}">
            <div class="form-group">
              <textarea id="textarea_width" class="form-control" rows=6 name='comment'></textarea>
            </div>
            {% if user %}
            <div class="form-group">
              <input type='submit'class="btn btn-success pull-right" value='Post'>
            </div>
            {% else %}
            <div class="form-group">
              <input type='submit'class="btn btn-success pull-right" value='Sign In to Post'>
            </div>
            {% endif %}
          </form>
        </div>
        <hr>
      {% for comment in comments %}
        <div class="container-fluid">
          <div class="panel panel-default">
            <div class="panel-heading">
              {{comment.author.username}} at {{comment.created_at}} posted:
            </div>
            <div class="panel-body" style="min-height: 10rem;">
              {{comment.content}}
              {% if user.admin_level == 4 or user.id == comment.author.id %}
                <form action="{% url 'home:delete_comment' id=comment.id product_id=product.id %}" method='post'>
                  {% csrf_token %}
                  <input type="submit" class="btn btn-danger pull-right" value="Delete Comment">
                </form>
              {% endif %}
            <a href="#reply" id={{comment.id}} class="btn btn-info pull-right">Reply</a>
            <form action="{% url 'home:reply' id=comment.id %}" class="{{comment.id}} hidden" method="post">
              {% csrf_token %}
              <input type='hidden' name="product_id" value="{{product.id}}">
              <label name="comment">Reply to Comment</label>
              <textarea name="comment" class="form-control" rows=5></textarea>
              <input type="submit" class="btn btn-success pull-right" value="Post">
            </form>
            </div>
          </div>
      </div>
      {% for replies in comment.comment_reply.all|dictsortreversed:"created_at" %}
      <div class="container-fluid">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{replies.user.username}} at {{replies.created_at}} Replied to {{comment.author.username}}:
          </div>
          <div class="panel-body" style="min-height: 10rem;">
            <p>{{replies.content}}</p>
            {% if user.admin_level == 4 or user.id == replies.user.id %}
              <form action="{% url 'home:delete_replies' id=replies.id product_id=product.id %}" method='post'>
                {% csrf_token %}
                <input type="submit" class="btn btn-danger pull-right" value="Delete Comment">
              </form>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    {% endfor %}
      </div>
      <div role="tabpane2" class="tab-pane" id="category">
        {% for product_category in category %}
          <h1>{{product_category.category}}</h1>
          <hr>
          {% for subcategory in product_category.subcategories.all %}
            {% for product in subcategory.products.all %}
            {% load static %}
            <div class="media product_list">
              <div class="media-left media-middle">
                <a class="media-object discussion_all_deals" href="{% url 'home:show_product' id=product.id %}"><img src="{% static product.primary_image %}" alt="{{product.primary_image}}"></a>
              </div>
              <div class="media-body">
                <a class="media-heading" href="{% url 'home:discussion' id=product.id %}"><h2>{{product.name}}</h2></a>
              </div>
              </div>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="container">
  {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
<script>
  $(document).ready(function(){
    $('#main_product').tab('show')
  })
  $('#main_product').click(function () {
    $('#other_product').hide()
    $(this).tab('show')
  })
  $('#other_product').click(function () {
    $('#product').hide()
    $(this).tab('show')
  })
  $('.panel-body > a').click(function (e) {
    e.preventDefault()
    var id = "."
    var attribute = $(this).attr('id');
    id += attribute;
    $(id).toggleClass('hidden');
  })
</script>
</body>
</html>
