<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Woot: Daily Deals for Electronics</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'home/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'home/css/navbar-fixed-top.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav id="main-nav" class="nav-color navbar navbar-default white-text navbar-fixed-top" role="navigation">
      <div class="container">
        <div id="nav-header" class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#categories" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand lighter-font white-text" href="{% url 'home:index' %}"><span class="white-text h1">woot!</span> Deals & Shenanigans</a>
        </div>
        <div class="navbar-collapse bottom-border" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="underline lighter-font" href="#">Community</a>
            </li>
            {% if request.session.username %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle lighter-font white-text" data-toggle="dropdown">Hi, <span class="underline light-font">{{ request.session.username }}</span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Your Account</a></li>
                <li class="divider"></li>
                <li><a href="#">Stuff You've Bought</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'login:logout' %}">Sign Out</a></li>
              </ul>
            </li>
            {% endif %}
            {% if not request.session.username %}
            <li>
              <a href="{% url 'login:index' %}">Sign In</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div id="categories" class="collapse navbar-collapse collapse-buttons .custom-collapse">
          <ul class="nav navbar-nav">
            {% for category in categories %}
            <li class="dropdown">
              <a href="{% url 'home:category' id=category.id %}" class="dropdown-toggle categories white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ category.category }} <span class="caret"></span></a>
              <ul class="dropdown-menu collapse">
                <li><a href="{% url 'home:category' id=category.id %}">See all {{ category.category }} deals</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Subcategories</li>
                {% for subcat in subcategories %}
                  {% if subcat.category.id == category.id%}
                    <li><a href="{% url 'home:subcategory' id=subcat.id %}"> {{subcat.subcategory}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
            <li class="dropdown">
              <a id="cart" href="#" class="dropdown-toggle categories white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart cart" aria-hidden="true"></span> - Cart: X Items</a>
              <ul class="dropdown-menu collapse">
                {% for items in request.session.cart %}
                <li><a href="#">{{ items }}</a></li>
                {% endfor %}
                <li><a href="#"><button class="btn btn-lg btn-warning">Proceed to Checkout</button></a></li>
                <li><a class="text-center" href="#">View your cart</a></li>
              </ul>
            </li>
        </div>
      </div>
    </nav><!-- End NAVBAR -->
    <div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
    <div class="container">
      <div id="daily_deal">
        <div id="deal-pic" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <p>&nbsp;</p>
          {% load static %}
          {% for image in deal_image %}
          <img class="img-responsive" src="{% static image.image.name %}" alt=""> <!-- use img-responsive -->
          {% endfor %}
        </div>
        <div id="deal-info" class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <p>&nbsp;</p>
          <h3 class="name-font">{{ daily_deal.name }}</h3>
          <p class="name-font h2">${{ daily_deal.price|floatformat:2 }}  <p class="gray_font"><span class="strikethrough">${{ daily_deal.list_price|floatformat:2  }}</span>  {{ percent_off|floatformat:2 }}% off List Price </p>
          <a href="/product/show/{{ daily_deal.id }}"><img src="{% static 'home/images/wantone.png' %}" alt="I want one"></a>
          <p>&nbsp;</p>
          <div id="deal-description" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="col-lg-6 col-md-6 col-sm-12 col-xs-12">{{ daily_deal.description }}</p>
            <div id="top-comments" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% for comment in comments %}
            <p><strong>{{ comment.author.username}}</strong> says: {{ comment.content }}</p>
            {% endfor %}
            <a href="/discussion/product/{{ daily_deal.id }}"><button class="btn-lg btn-success">join the discussion</button></a>
            </div>
          </div>
      </div>
    </div> <!-- /container -->
    <div>
      <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
      <a href="{% url 'home:dummy' %}">RUN DUMMY CODE</a>
    </div>
    More content here...
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'home/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
