<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Product Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% load staticfiles %}
    <link href="{% static 'login/css/styles.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="well nav-color white-text">
      <p class="h2 text-center">Admin Dashboard <p class="pull-right"><a class="light-font white-text" href="{% url 'home:index' %}">Back to woot!</a></p></p>
    </div>
    <div class="text-center">
      <span>&nbsp;</span>
      <a class="btn btn-success" href="{% url 'login:dashboard' %}">Manage Users</a>
    </div>
    <h2>Manage Products</h2>
    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <a class="btn btn-success" href="{% url 'home:add_product' %}">New Product</a>

    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>List Price</th>
          <th>Active?</th>
          <th>Expire date</th>
          <th>Daily Deal</th>
          <th>Daily Deal Date</th>
          <th>Quantity</th>
          <th>Subcategory ID</th>
          <th>Primary Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for product in all_products %}
          <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td class='col-xs-2'>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.list_price}}</td>
            <td>{{product.active}}</td>
            <td>{{product.expire_date}}</td>
            <td>{{product.daily_deal}}</td>
            <td>{{product.deal_date}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.subcategory.id}}</td>
            <td>{{product.primary_image}}</td>
            <td><a href="{% url 'home:edit_product' id=product.id %}">Edit</a> |
              <a href="{% url 'home:delete_product' id=product.id %}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
