<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Woot: Daily Deals for Electronics</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'home/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'home/css/navbar-fixed-top.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav id="main-nav" class="nav-color navbar navbar-default white-text navbar-fixed-top" role="navigation">
      <div class="container">
        <div id="nav-header" class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#categories" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand lighter-font white-text" href="{% url 'home:index' %}"><span class="white-text h1">woot!</span> Deals & Shenanigans</a>
        </div>
        <div class="navbar-collapse bottom-border" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="underline lighter-font" href="#">Community</a>
            </li>
            {% if request.session.username %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle lighter-font white-text" data-toggle="dropdown">Hi, <span class="underline light-font">{{ request.session.username }}</span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'login:edit' %}">Edit Your Account</a></li>
                <li class="divider"></li>
                <li><a href="#">Stuff You've Bought</a></li>
                <li class="divider"></li>
                {% if request.session.admin_level == 4 %}
                <li><a href="{% url 'login:dashboard' %}">Admin Dashboard</a></li>
                <li class="divider"></li>
                {% endif %}
                <li><a href="{% url 'login:logout' %}">Sign Out</a></li>
              </ul>
            </li>
            {% endif %}
            {% if not request.session.username %}
            <li>
              <a href="{% url 'login:index' %}">Sign In</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div id="categories" class="collapse navbar-collapse collapse-buttons .custom-collapse">
          <ul class="nav navbar-nav">
            {% for category in categories %}
            <li class="dropdown">
              <a href="{% url 'home:category' id=category.id %}" class="dropdown-toggle categories white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ category.category }} <span class="caret"></span></a>
              <ul class="dropdown-menu collapse">
                <li><a href="{% url 'home:category' id=category.id %}">See all {{ category.category }} deals</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Subcategories</li>
                {% for subcat in subcategories %}
                  {% if subcat.category.id == category.id%}
                    <li><a href="{% url 'home:subcategory' id=subcat.id %}"> {{subcat.subcategory}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
            <li class="dropdown">
              <a id="cart" href="#" class="dropdown-toggle categories white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart cart" aria-hidden="true"></span> - Cart: {{request.session.cart}} Items</a>
              <ul class="dropdown-menu collapse">
                <li><a href="{% url 'checkout:buy' %}"><button class="btn btn-lg btn-warning">Proceed to Checkout</button></a></li>
              </ul>
            </li>
        </div>
      </div>
    </nav><!-- End NAVBAR -->
    <div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <p class="text-danger">{{message}}</p>
        {% endfor %}
      {% endif %}
      <div id="product_area">
        <div id="deal-buy" class="col-xs-12">
          <h3 class="name-font col-xs-12 col-md-4 row">{{ product.name }}</h3>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right product_image img-responsive">
            {% load static %}
            <img class="img-responsive" src="{% static product.primary_image.name %}" alt="">
          </div>
          <div class="col-xs-12 col-md-4 row">
            <p class="name-font h2">${{ product.price|floatformat:2 }}  <p class="gray_font"><span class="strikethrough">${{ product.list_price|floatformat:2  }}</span>  {{ percent_off|floatformat:2 }}% off List Price </p></p>
            <form class="/add_to_cart" action="{% url 'checkout:add_cart' id=product.id %}" method="post">
              {% csrf_token %}
              {% if not over %}
              <label for="quantity">Quantity:</label>
              <select class="" name="quantity">
                {% if product.quantity > 0 %}
                <option value="1">1</option>
                {% endif %}
                {% if product.quantity > 1 %}
                <option value="2">2</option>
                {% endif %}
                {% if product.quantity > 2 %}
                <option value="3">3</option>
                {% endif %}
              </select>
              {% endif %}
              <p>Shipping: <strong>Standard</strong></p>
              {% if active %}
              <input class=" btn btn-lg btn-warning" type="submit" value="Add To Cart">
              {% else %}
              <span class=" btn btn-lg btn-danger">Sold Out!</span>
              {% endif %}
            </form>
            <hr>
            {% if not rated %}
            <h5>Rate This Product</h5>
            <form action="{% url 'home:rating' id=product.id %}" method="post">
              {% csrf_token %}
              <select name="rating">
                <option value=5>5</option>
                <option value=4>4</option>
                <option value=3>3</option>
                <option value=2>2</option>
                <option value=1>1</option>
              </select> Stars
              <input type="submit" value="Rate!">
            </form>
            {% endif %}
            {% if avg_rating %}
            <h5>Average Rating: {{avg_rating}} Stars</h5>
            {% else %}
            <h6>This product has not yet been rated. Be the first!</h6>
            {% endif %}
            <hr>
            <h4>Discuss This Deal</h4>
            {% for comment in comments %}
            <p><strong>{{ comment.author.username}}</strong> says: {{ comment.content }}</p>
            {% endfor %}
            {% if not comments %}
            <p>No posts yet? WHAT? Somebody help fix that by saying something cool.</p>
            {% endif %}
            <a href="/discussion/product/{{ product.id }}"><button class="btn-lg btn-success bottom-border">join the discussion</button></a>
            <hr>
            <h5>Description:</h5>
            <p>{{ product.description }}</p>
          </div>

          <div role="tabpanel" class="col-md-8 col-xs-12 pull-right" id="feats_specs">
            <div>&nbsp;</div>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#features" class = "active pull-left" aria-controls="features" role="tab" data-toggle="tab">Features</a>
              </li>
              <li role="presentation">
                <a href="#specifications" aria-controls="specifications" role="tab" data-toggle="tab">Specifications</a>
              </li>
              <li role="presentation">
                <a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">Stats</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="features">
                {% if features %}
                  {% for feature in features %}
                  <p><strong>{{ feature.header }}</strong>: {{feature.feature}}</p>
                  {% endfor %}
                {% endif %}
                {% if not features %}
                <p>No specified features</p>
                {% endif %}
              </div>
              <div role="tabpanel" class="tab-pane" id="specifications">
                {% if specifications %}
                  {% for spec in specifications %}
                <p><strong>{{spec.spec_category.category}}</strong>: {{spec.value}}</p>
                  {% endfor %}
                {% endif %}
                {% if not specifications %}
                <p>No specified specifications</p>
                {% endif %}
              </div>
              <div role="tabpanel" class="tab-pane" id="statistics">
                Stats go here!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'home/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
