<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Woot: Daily Deals for Electronics</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'home/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'home/css/navbar-fixed-top.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav id="main-nav" class="nav-color navbar navbar-default white-text navbar-fixed-top" role="navigation">
      <div class="container">
        <div id="nav-header" class="navbar-header">
          <button id="collapse-nav" type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#categories" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand lighter-font white-text" href="{% url 'home:index' %}"><span class="white-text h1">fööt!</span> Deals & Shenanigans</a>
        </div>
        <div class="navbar-collapse bottom-border" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="underline lighter-font" href="{% url 'home:community' %}">Community</a>
            </li>
            {% if request.session.username %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle lighter-font white-text" data-toggle="dropdown">Hi, <span class="underline light-font">{{ request.session.username }}</span><b class="caret"></b></a>
              <ul class="dropdown-menu nav-color">
                <li><a class="white-text" href="{% url 'login:edit' %}">Edit Your Account</a></li>
                <li class="divider"></li>
                <li><a class="white-text" href="{% url 'home:orders' %}">Stuff You've Bought</a></li>
                <li class="divider"></li>
                {% if request.session.admin_level == 4 %}
                <li><a class="white-text" href="{% url 'login:dashboard' %}">Admin Dashboard</a></li>
                <li class="divider"></li>
                {% endif %}
                <li><a class="white-text" href="{% url 'login:logout' %}">Sign Out</a></li>
              </ul>
            </li>
            {% endif %}
            {% if not request.session.username %}
            <li>
              <a href="{% url 'login:index' %}">Sign In</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div id="categories" class="collapse navbar-collapse collapse-buttons .custom-collapse">
          <ul class="nav navbar-nav">
            {% for category in categories %}
            <li class="dropdown">
              <a href="{% url 'home:category' id=category.id %}" class="dropdown-toggle categories white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ category.category }} <span class="caret"></span></a>
              <ul class="dropdown-menu collapse nav-color">
                <li><a class="white-text" href="{% url 'home:category' id=category.id %}">See all {{ category.category }} deals</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header white-text">Subcategories</li>
                {% for subcat in subcategories %}
                  {% if subcat.category.id == category.id%}
                    <li><a class="white-text" href="{% url 'home:subcategory' id=subcat.id %}"> {{subcat.subcategory}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
            <li class="dropdown">
              <a id="cart" href="#" class="dropdown-toggle categories white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart cart" aria-hidden="true"></span>{% if not request.session.cart %}<span class="badge">0</span>{% else %}<span class="badge">{{request.session.cart}}</span>{% endif %}</a>
              <ul class="dropdown-menu collapse nav-color">
                <li><a href="{% url 'checkout:buy' %}"><button class="btn-lg btn-warning">Proceed to Checkout</button></a></li>
                <li><a class="text-center white-text" href="{% url 'checkout:index' %}">View your cart</a></li>
              </ul>
            </li>
        </div>
      </div>
    </nav><!-- End NAVBAR -->
    <div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
    <div class="container">
      <div id="category_list" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <p class="gray_font h6"><a class="h6" href="{% url 'home:category' id=category.id %}">{{ category.category }}</a> > {{ subcategory.subcategory }}</p>
        <hr>
        <ul class="list-unstyled list-group">
          <li class="list-group-item-heading"><a href="{% url 'home:category' id=category.id %}"></a>All ({{category_total}})</li>
          {% for subcat in this_cat_subcategories %}
          {% if subcat.id == subcategory.id %}
          <li class="list-group-item-heading h5">&nbsp;&nbsp;<strong>{{ subcat.subcategory }} ({% for id, count in total_products.items %}{% if id == subcat.id %}{{ count }}{% endif %}{% endfor %})</strong></a></li>
          {% else %}
          <li class="list-group-item-heading">&nbsp;&nbsp;<a href="{% url 'home:subcategory' id=subcat.id %}">{{ subcat.subcategory }} ({% for id, count in total_products.items %}{% if id == subcat.id %}{{ count }}{% endif %}{% endfor %})</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div id="product_area" class="row col-lg-9 col-md-9 col-sm-9 col-xs-12 ">
        <h4 class="text-center"> All {{ subcategory.subcategory }} Deals</h4>
        {% for product in all_products %}
        <a href="/product/show/{{ product.id }}">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 panel panel-success text-center all_deals no-padding">
              <div class="panel-body">
                <img class="img-responsive text-center small_images" src="{% static product.primary_image %}" alt="{{ product.name }}">
              </div>
              <div class="panel-footer">
                <h4 class="name-font">{{ product.name }}</h4>
                <h5 class="name-font">Ends {{ product.expire_date }}</h5>
              </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div><!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'home/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
