<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a>Test App</a>
        <a href="">Home</a>
        <a class="navbar-right" href="">Sign in</a>
      </div>
    </nav>
    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'dashboard:dashboard_admin' %}">Return to Dashboard</a>
    <div>
      <h1>Add a new user</h1>
      <form action="{% url 'dashboard:register_add' %}" method="POST">
        {% csrf_token %}
        <label for="email">Email: </label>
        <input type="text" name="email">
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name">
        <label for="password">Password: </label>
        <input type="password" name="password">
        <label for="confirm_password">Confirm: </label>
        <input type="password" name="confirm_password">
        <input class="btn btn-info" type="submit" value="Create">
      </form>
    </div>
  </body>
</html>
