<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Review</title>
    {% load staticfiles %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css "href="{% static 'checkout/css/styles.css' %}">
    <link rel="stylesheet" type="text/css "href="{% static 'home/css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  </head>
  <body>
    <nav id="main-nav" class="nav-color navbar navbar-default white-text navbar-fixed-top" role="navigation">
      <div class="container">
        <div id="nav-header" class="navbar-header">
          <button id="collapse-nav" type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#categories" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand lighter-font white-text" href="{% url 'home:index' %}"><span class="white-text h1">fööt!</span> Deals & Shenanigans</a>
        </div>
        <div class="navbar-collapse bottom-border" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="underline lighter-font" href="#">Community</a>
            </li>
            {% if request.session.username %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle lighter-font white-text" data-toggle="dropdown">Hi, <span class="underline light-font">{{ request.session.username }}</span><b class="caret"></b></a>
              <ul class="dropdown-menu nav-color">
                <li><a class="white-text" href="{% url 'login:edit' %}">Edit Your Account</a></li>
                <li class="divider"></li>
                <li><a class="white-text" href="{% url 'home:orders' %}">Stuff You've Bought</a></li>
                <li class="divider"></li>
                {% if request.session.admin_level == 4 %}
                <li><a class="white-text" href="{% url 'login:dashboard' %}">Admin Dashboard</a></li>
                <li class="divider"></li>
                {% endif %}
                <li><a class="white-text" href="{% url 'login:logout' %}">Sign Out</a></li>
              </ul>
            </li>
            {% endif %}
            {% if not request.session.username %}
            <li>
              <a href="{% url 'login:index' %}">Sign In</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div id="categories" class="collapse navbar-collapse collapse-buttons .custom-collapse">
          <ul class="nav navbar-nav">
            {% for category in categories %}
            <li class="dropdown">
              <a href="{% url 'home:category' id=category.id %}" class="dropdown-toggle categories white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ category.category }} <span class="caret"></span></a>
              <ul class="dropdown-menu collapse nav-color">
                <li><a class="white-text" href="{% url 'home:category' id=category.id %}">See all {{ category.category }} deals</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header white-text">Subcategories</li>
                {% for subcat in subcategories %}
                  {% if subcat.category.id == category.id%}
                    <li><a class="white-text" href="{% url 'home:subcategory' id=subcat.id %}"> {{subcat.subcategory}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
            <li class="dropdown">
              <a id="cart" href="#" class="dropdown-toggle categories white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart cart" aria-hidden="true"></span> - Cart: {{request.session.cart}} Items</a>
              <ul class="dropdown-menu collapse nav-color">
                <li><a href="{% url 'checkout:buy' %}"><button class="btn-lg btn-warning">Proceed to Checkout</button></a></li>
                <li><a class="text-center white-text" href="{% url 'checkout:index' %}">View your cart</a></li>
              </ul>
            </li>
        </div>
      </div>
    </nav><!-- End NAVBAR -->
    <div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
    <div class="container" id="products">
      <h1 class="centered">Review Purchase</h1>
      <hr>
      <div class="row">
        <h3 class="col-sm-3">Selected Address:</h3>
        <div class="col-sm-6">
        {% if address %}
          <p>{{address.first_name}} {{address.last_name}}</p>
          <p>{{address.address}}, {{address.unit}}</p>
          <p>{{address.city}}, {{address.state}} {{address.zip_code}}</p>
          <p>{{address.country}}</p>
        {% else %}
          <h3>No address selected</h3>
        {% endif %}
        </div>
        <div class="col-sm-3">
          <h4><a href="{% url 'checkout:address' %}">Change</a></h4>
        </div>
      </div>
      <hr>
      <div class="row">
        <h3 class="col-sm-3">Selected Payment:</h3>
        {% if card %}
          <h5 class="col-sm-6">
            <p>Card ending in ****{{card.last_four}}</p>
          </h5>
        {% else %}
            <h3 class="col-sm-6">No card selected</h3>
        {% endif %}
        <h4 class="col-sm-3"><a href="{% url 'checkout:billing' %}">Change</a></h4>
      </div>
      <hr>
      <h3>Review Cart:</h3>
        {% for product in cart_products %}
        <div class="row">
            {% load static %}
            <div class="col-sm-3"><img class=" img-responsive small_images" src="{% static product.primary_image %}"></div>
            <div class="col-sm-5"><h4>{{product.name}} x {{product.quantity}}</h4></div>
            <div class="col-sm-2"><h4>{{product.price|floatformat:2}}</h4></div>
            <div class="col-sm-2"><h4><a href="{% url 'checkout:index' %}">Edit</a></h4></div>
          </div>
        {% endfor %}
      <hr>
      <div class="row">
      {% if address and card and cart_products %}
        <form class="col-sm-6" action="{% url 'checkout:purchase' %}" method="post">
          {% csrf_token %}
          <input class="btn btn-success" type="submit" value="Purchase">
        </form>
      {% else %}
        <p class="col-sm-6 btn btn-danger">Must select card and address before checkout</p>
      {% endif %}
      <p class="big col-sm-3">Total:</p>
      <p class="big col-sm-3">${{total|floatformat:2}}</p>
      </div>
    </div>
  </body>
</html>
