<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Success</title>
    {% load staticfiles  %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css "href="{% static 'checkout/css/styles.css' %}">
    <link rel="stylesheet" type="text/css "href="{% static 'home/css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  </head>
  <body>
    <nav id="main-nav" class="nav-color navbar navbar-default white-text navbar-fixed-top" role="navigation">
      <div class="container">
        <div id="nav-header" class="navbar-header">
          <button id="collapse-nav" type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#categories" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand lighter-font white-text" href="{% url 'home:index' %}"><span class="white-text h1">fööt!</span> Deals & Shenanigans</a>
        </div>
        <div class="navbar-collapse bottom-border" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="underline lighter-font" href="{% url 'home:community' %}">Community</a>
            </li>
            {% if request.session.username %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle lighter-font white-text" data-toggle="dropdown">Hi, <span class="underline light-font">{{ request.session.username }}</span><b class="caret"></b></a>
              <ul class="dropdown-menu nav-color">
                <li><a class="white-text" href="{% url 'login:edit' %}">Edit Your Account</a></li>
                <li class="divider"></li>
                <li><a class="white-text" href="{% url 'home:orders' %}">Stuff You've Bought</a></li>
                <li class="divider"></li>
                {% if request.session.admin_level == 4 %}
                <li><a class="white-text" href="{% url 'login:dashboard' %}">Admin Dashboard</a></li>
                <li class="divider"></li>
                {% endif %}
                <li><a class="white-text" href="{% url 'login:logout' %}">Sign Out</a></li>
              </ul>
            </li>
            {% endif %}
            {% if not request.session.username %}
            <li>
              <a href="{% url 'login:index' %}">Sign In</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div id="categories" class="collapse navbar-collapse collapse-buttons .custom-collapse">
          <ul class="nav navbar-nav">
            {% for category in categories %}
            <li class="dropdown">
              <a href="{% url 'home:category' id=category.id %}" class="dropdown-toggle categories white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ category.category }} <span class="caret"></span></a>
              <ul class="dropdown-menu collapse nav-color">
                <li><a class="white-text" href="{% url 'home:category' id=category.id %}">See all {{ category.category }} deals</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header white-text">Subcategories</li>
                {% for subcat in subcategories %}
                  {% if subcat.category.id == category.id%}
                    <li><a class="white-text" href="{% url 'home:subcategory' id=subcat.id %}"> {{subcat.subcategory}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
            <li class="dropdown">
              <a id="cart" href="#" class="dropdown-toggle categories white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart cart" aria-hidden="true"></span>{% if not request.session.cart %}<span class="badge">0</span>{% else %}<span class="badge">{{request.session.cart}}</span>{% endif %}</a>
              <ul class="dropdown-menu collapse nav-color">
                <li><a href="{% url 'checkout:buy' %}"><button class="btn-lg btn-warning">Proceed to Checkout</button></a></li>
                <li><a class="text-center white-text" href="{% url 'checkout:index' %}">View your cart</a></li>
              </ul>
            </li>
        </div>
      </div>
    </nav><!-- End NAVBAR -->
    <div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
    <div class="container" id="processed">
      <h1>Your order (#{{order.id}}) has been processed!</h1>
      <hr>
     <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">

        <h3>Order Summary</h3>
        <div class="col-sm-6">
          <ul>
            {% for product in products %}
              <li><h5>{{product.name}}</h5></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-6">
          {% for message in messages %}
          <h4>{{message}}</h4>
          {% endfor %}
        </div>
      </div>
      </div>
      <hr>
    <h3>You spent ${{total}}... BUT YOU SAVED ${{saved|floatformat:2}}!</h3>
    <hr>
    <h2>Other Products you may be interested in</h2>
    {% for product in other_products %}
    <a class="" href="/product/show/{{ product.id }}">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 panel panel-default text-center all_deals no-padding">
          <div class="panel-heading">
            <h4 class="name-font">{{ product.name }}</h4>
            <h5 class="name-font">Ends {{ product.expire_date }}</h5>
          </div>
          <div class="panel-body">
            <img class="img-responsive text-center small_images" src="{% static product.primary_image %}" alt="{{ product.name }}">
          </div>
      </div>
    </a>
    {% endfor %}
  </div>
  </body>
</html>
